.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.config/dconf/
.config/gajim/
.config/julea/
.config/okularpartrc
.config/okularrc
.config/vlc/
.gitconfig
.inputrc
.lesshst
.local/
.mozilla/
.packer.d/
.spack_cp/
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.terminfo/
.thunderbird/
.vim/
.viminfo
.wget-hsts
Documents/
Downloads/
Images/
Projects/
semester
todo.txt
