.Xauthority
.bash_history
.bash_logout
.cache/
.config/dconf/
.config/gajim/
.config/julea/
.config/okularpartrc
.config/okularrc
.config/vlc/
.gitconfig
.lesshst
.local/
.mozilla/
.packer.d/
.spack_cp/
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.terminfo/
.thunderbird/
.vim/bundle
.viminfo
.wget-hsts
Documents/
Downloads/
Images/
Projects/
semester
todo.txt
.aspell.de.prepl
.aspell.de.pws
.config/GIMP/
.config/gtk-2.0/
.config/htop/
.config/libreoffice/
.config/mimeapps.list
.config/okular.kmessagebox
.gnupg/
.spack/


.python_history
